@model SharedLibrary.DTOs.User.CatsUserLogin

@{
    ViewBag.Title = "login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/login.css">
</head>
<body>
    <header>
        <img src="~/Images/POLORed.svg" alt="IKU Logo" id="logo">
        <form action="@Url.Action("Index", "Login")" method="post">
            <div class="bar">
                <div class="email-bar">
                    @Html.TextBoxFor(m => m.UserName, new { placeholder = "Id", required = "required" })

                    <a href="#E6E7E8"></a>
                </div>
                <br>
                <div class="password-bar">
                    @Html.PasswordFor(m => m.Password, new { id = "password", placeholder = "Password*", required = "required" })
                </div>
                <input class="button" type="submit" value="Login">
                @if (ViewData.ModelState["LoginError"] != null && ViewData.ModelState["LoginError"].Errors.Count > 0)
                {
                    <div class="login-error">
                        <span>*@ViewData.ModelState["LoginError"].Errors[0].ErrorMessage</span>
                    </div>
                }
            </div>
        </form>
    </header>
    <main>
        <div style="margin-top:80px; display: flex;">
            <section id="analytics">
                <img src="~/Images/graph-icon.svg" alt="Analytics Icon">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam congue, lectus eu placerat sodales, magna dui tincidunt ipsum, nec cursus urna sem sit amet metus. Nam sagittis, diam at dignissim rhoncus, massa turpis bibendum augue, non sodales lorem dolor ut tortor. Duis felis purus, fringilla sed metus non</p>
            </section>
            <section id="search">
                <img src="~/Images/magnifier-icon.svg" alt="Search Icon">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam congue, lectus eu placerat sodales, magna dui tincidunt ipsum, nec cursus urna sem sit amet metus. Nam sagittis, diam at dignissim rhoncus, massa turpis bibendum augue, non sodales lorem dolor ut tortor. Duis felis purus, fringilla sed metus non</p>
            </section>
            <section id="reports">
                <img src="~/Images/sheet-icon.svg" alt="Reports Icon">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam congue, lectus eu placerat sodales, magna dui tincidunt ipsum, nec cursus urna sem sit amet metus. Nam sagittis, diam at dignissim rhoncus, massa turpis bibendum augue, non sodales lorem dolor ut tortor. Duis felis purus, fringilla sed metus non</p>
            </section>
        </div>
    </main>
    <footer>
        <div style="width: 20%;">
            <img src="~/Images/iku-lightgray-logo.svg" style="height: 50px;" alt="">
            <p class="rigths">2024 All rigths belong to Istanbul Kültür University</p>
        </div>
    </footer>
</body>

</html>
