@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PO-LO Analytics Reporting</title>
    <link rel="stylesheet" href="/css/report.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap">
    <link rel="stylesheet" href="~/css/import.css">
    
</head>

<body>
    <div class="main-content">
        <div class="bold-info">
            Reporting Analytics
        </div>
        <div class="info">
            Program learning outcomes are defined in terms of the knowledge, skills, and abilities that students have attained as a result of their involvement in a particular program, degree, certificate or series of learning activities leading to mastery.
        </div>
        <div class="word-export">

            <button id="export-button">Get Word File here!</button>
        </div>
            
        </div>
        <div class="charts">
            <div class="po-chart">
                <p class="chart-title">LO percentage</p>
                <div id="bar-chart"></div>
            </div>
            <div class="lo-chart">
                <p class="chart-title">PO percentage</p>
                <div id="area-chart"></div>
            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.48.0/apexcharts.min.js" ></script>
            <script src="/js/PoLoGraph.js"></script>
        </div>

</body>
</html>